name: Tests

on:
  push:
    branches:
      - main
      - v*
  pull_request:
    branches:
      - main
      - v*

jobs:
  build:
    strategy:
      matrix:
        # Minimum required version per go.mod and latest two supported releases.
        go-version: ["1.22", "1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Run static checks
      uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
      with:
        # renovate: datasource=github-releases depName=golangci/golangci-lint
        version: v2.6.2
        args: --config=.golangci.yml --verbose
        skip-cache: true
    - name: Build
      run: go build
    - name: Run unit tests
      run: go test -v -race -cover
