name: Tests

on:
  push:
    branches:
      - master
      - v*
  pull_request:
    branches:
      - master
      - v*

jobs:
  build:
    strategy:
      matrix:
        # Minimum required version per go.mod and latest two supported releases.
        go-version: ["1.22", "1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: Run static checks
      uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
      with:
        version: v2.1.6
        # use our .golangci.yml
        args: --config=.golangci.yml --verbose
        skip-cache: true
    - name: Build
      run: go build
    - name: Run unit tests
      run: go test -v -race -cover
